@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    display: block;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
}

.purple {
    color: #737373;
}

.logo {
    width: 160px;
    margin-top: 27px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: purple;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    padding: 80px 0;
}


.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper img {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
}

h1 {
    font-size: 56px;
    color: #734273;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.btn:hover {
    background-color: #5f35b7;
}

.header__img--wrapper {
    padding: 20px;
}

.container {
    padding: 100px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* -------------------- */
/* Highlight */
/* -------------------- */

/* ===========================
   HIGHLIGHTS SECTION WAVES
=========================== */

#highlights {
    position: relative;
}

#highlights::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
    width: 100vw;
    height: 12vw;
    background: url("assets/assets/wave.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    transform: translateY(100%) rotate(180deg);
    width: 100vw;
    height: 12vw;
    background: url("assets/assets/wave.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.highlight__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 48px;
}

.highlight {
    width: calc(100% / 3);
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.highlight__img {
    width: 100px;
    height: 100px;
    border: 2px solid #7342d6;
    color: #7342d6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    font-size: 32px;
}

.highlight__subtitle {
    font-size: 24px;
    color: #734273;
    margin-bottom: 16px;
}

.highlight__para {
    color: #555;
    line-height: 1.6;
}

.section__title {
    margin-top: 80px;
    margin-bottom: 64px;
}